
body{
    background: url("images/Moodify\ Header.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: sans-serif;
    z-index: 1;
    }
h1{  
    text-align: center;
    font-family: bely-display, sans-serif !important;
    color: black !important;
    font-weight: 800;
    font-style: normal;
    font-size: xxx-large;
    display: block;
}

.anima{
    position: absolute;
    transform: translateY(-75%);
    z-index: -1;
}

.anima2{
    position: absolute;
    transform: translateY(-50%) translateX(75%);
    z-index: -1;
}

.anima3{
    position: absolute;
    transform: translateY(-150%) translateX(75%);
    z-index: -1;
}