@font-face {
    font-family: superior-title,serif;
    src: url(https://use.typekit.net/sfr4zbs.css)
}

h1{  
    text-align: center;
    font-family: superior-title, serif;
    font-weight: 800;
    font-style: italic;
    font-size: xxx-large;
    display: block;
    margin-bottom: 0;
}
#login-button{
    background-image: url("images/ButtonBackground.png");
    background-size: contain;
    color: white;
    border: none;
    border-radius: 12px;
    margin-top: 50px;
    margin-bottom: 75px;
    padding: 25px;
    }

h2{
    font-family: superior-title, serif;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    font-size: medium;

}
h3{
    font-family: superior-title, serif;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    font-size: medium;

}
p{
    font-family: superior-title, serif;
    text-align: center;
    font-size: medium;
    padding-left: 150px;
    padding-right: 150px;
} 